fastapi
uvicorn
python-dotenv
google-generativeai
langchain==0.1.20
langchain-core==0.1.52
langchain-community
langchain-google-genai
faiss-cpu
sentence-transformers
pydantic
typing_extensions
youtube-transcript-api==0.6.2
