fastapi
uvicorn[standard]
python-dotenv

# Whisper + audio
openai-whisper
ffmpeg-python
yt-dlp

# LangChain (NEW structure)
langchain
langchain-community
langchain-core
langchain-text-splitters

# Vector DB + embeddings
faiss-cpu
sentence-transformers

# Gemini
google-generativeai
langchain-google-genai
